<html>
<head> Code2Shop is actively looking for brands who would like to support women in technology. 
We strongly believe that women who code must be rewarded. If you would like to register with us to provide 
rewards to support women in technology, please fill out the following page and we will reach out to you soon.
</head>
<body>
<br>
<a href="/paidpartners" class="w3-btn w3-black">Paid partnerships </a>
<br>
<a href="/commissionpartners" class="w3-btn w3-black">Commission based partnerships </a>
<br>
<a href="/hostachallenge" class="w3-btn w3-black">Host a challenge </a>
</body>
</html>